/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.header{
  color: white;
  background-color: black;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.header-logo{
  font-size: 20px;
  font-weight: bold; 
}
.header-nav ul{
  display: flex;
}
.header-nav li{
  margin-right: 25px;
}
.header-nav a{
  color: white;
  text-decoration: none;
}

#eyecatch{
  background: url(../img/eyecatch.jpg) no-repeat;
  height: 600px;
  background-size: cover;
  position: relative;

}
#eyecatch p{
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
table{
  width:50%;
  position: absolute;
  right: 0%;
  bottom: 0%;
}
table th,
table td{
  border: 1px solid black;
  padding: 10px;
}
table th{
  background-color: white;
  color: black;
}
table td{
  background-color: black;
  color: white;
}

.mission-wrap{
  background-color: black;
  position: relative;
  height: 400px;
  width: 100%;
}
.mission-img{
  position: absolute;
  top: 30%;
  left: 60%;
}
.orange{
  width: 450px;
  height: 300px;
}
.section-title{
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 30%;
  left: 100px;
}

.mission-info {
  color: white;
  width: 70%;
  position: relative;
  top: 35%;
  left: 10%;
}
.mission-button {
  padding: 5px 5px;
  text-decoration: none;
  color:black;
  margin: 2px 0;
  border: solid 1px white;
  background-color: white;
  position: relative;
  top: 50%;
  left: 10%;
}

#service{
  background-color: gainsboro;
  height: 1500px;
  width: 100%;
  margin-top: 100px;
  overflow: hidden;
}
.section-title-service{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}
.card-1{
  width: 400px;
  height: 200px;
  padding: 20px 12px 10px;
  color:black;
  background-color: white;
  background-position: right 35% bottom 45% ;
  background-size: cover;
  position: relative;
  top: 100px;
  left: 300px;
  z-index: 2;
}
.card-1 h2{
  font-weight: bold;
}
.img-service-1{
  position: relative;
  top: -200px;
  left: 50%;
  z-index: 1;
}
.card-1 h3{
  padding-top: 10px;
}
.card-1 p{
  color: black;
  padding-top: 30px;
}
.service-button{
  position: relative;
  left: 40%;
  top: 10%;
  text-decoration: none;
  color:black;
  width: 120px;
  height: 50px;
  outline: none;
  margin-left: 50px;
}
.button{
  text-decoration: none;
}
.card-2{
  width: 400px;
  height: 200px;
  padding: 20px 12px 10px;
  color:black;
  background-color: white;
  background-position: right 35% bottom 45% ;
  background-size: cover;
  position: relative;
  top: 200px;
  left: 40%;
  z-index: 2;
}
.card-2 h2{
    font-weight: bold;
}
.card-2 h3{
  padding-top: 10px;
}
.card-2 p{
  color: black;
  padding-top: 30px;
}
.img-service-2{
  background-size: cover;
  position: relative;
  top: -200px;
  z-index: 1;
}

.company-recruit{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.company{
  background: url(../img/company.jpeg);
  background-size: cover;
  width: 45%;
  height: 300px;
}
.company h1,h3{
  color: white;
  text-align: center;
  font-weight: bold;
}
.company h1,.recruit h1{
  position: relative;
  top: 50%;
  font-size: 30px;
}
.company h3,.recruit h3{
  position: relative;
  top: 55%;
}
.recruit{
  background: url(../img/recruit.jpg);
  background-size: cover;
  width: 45%;
  height: 300px;
}
.recruit h1,h3{
  color: white;
  text-align: center;
  font-weight: bold;
}

.faq{
  display: flex;
  background-color: black;
  width: 70%;
  height: 150px;
  position: relative;
  top: 100px;
  left: 15%;
}
.faq h1,.faq p{
  color: white;
  position: relative;
  top: 50%;
}
.faq h1{
  font-size: 30px;
  font-weight: bold;
  padding-left: 5%;
}
.faq p{
  font-size: 20px;
  padding-left: 35%;
}

.contact{
  background: url(../img/contact-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
  margin-top: 300px;
}
.contact-wrap{
  text-align: center;
  color: white;
}
.contact h1,.contact h2{
  margin: 30px;
}
.contact h1{
  position: relative;
  top: 200px;
  font-size: 30px;
  font-weight: bold;
}
.contact h2{
  position: relative;
  top: 210px;
  font-size: 15px;
}
.contact h3{
  position: relative;
  top: 250px;
  font-size: 45px;
}
.contact p{
  position: relative;
  top: 300px;
}
.contact-button{
  border: 1px solid white;
  color: white;
  position: relative;
  top: 350px;
  text-decoration: none;
  padding: 10px;
}

a{
  text-decoration: none;
}
.footer{
  width: 100%;
  background-color: black;
  padding: 20px 0;
  text-align: center;
}
.footer-wrap{
  display: flex;
  justify-content: space-between;
}
.footer-title{
  font-size: 24px;
  position: relative;
  padding-left: 5%;
}
.footer-title a{
  color: white;
}
.footer-nav-list{
  display: flex;
  margin-bottom: 20px;
}
.footer-nav ul{
  display: flex;
}
.footer-nav li{
  margin-right: 25px;
  font-size: 20px;
}
.footer-nav a{
  color: white;
}
.copyright{
  text-align: center;
  color: white;
}

